.container{
	background: black;
	border-radius: 193px;
	width: 500px;
	margin: 0px 197px;
	padding: 25px;
	background-image: url("Coding-Dojo-Academy-Horizontal.png");
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;
}

img {
	display: block;
	margin: 4px 182px 4px 164px;
	width: 150px;
	height: 36px;
	border: 2px solid lightblue;
}

